<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="adt.commands.LaunchADT"
            class="ro.ieat.dice.adt.adt.handlers.LaunchADT">
      </handler>
      <handler
            class="ro.ieat.dice.adt.adt.handlers.ADTConfigure"
            commandId="adt.commands.ADTConfigure">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="adt.commands.LaunchADT"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+L">
      </key>
      <key
            commandId="adt.commands.ADTConfigure"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.dice.menu.tools">
         <menu
               label="DICE Tools"
               mnemonic="M"
               id="adt.menus.ADTMenu">
            <command
                  commandId="adt.commands.LaunchADT"
                  label="ADT Launch"
                  mnemonic="L"
                  id="adt.commands.LaunchADT">
            </command>
            <command
                  commandId="adt.commands.ADTConfigure"
                  id="adt.commands.ADTConfigure"
                  label="ADT Configure"
                  mnemonic="C">
            </command>
          </menu>
       </menuContribution>
   </extension>

</plugin>
